<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>카카오 로그인 페이지</title>

</head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<style>
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .content {
    font-family: system-ui, serif;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffbe0a;
  }
  a {
    text-decoration-line: none
  }
</style>
<body>
  <div class="wrapper">
  <!-- todo client_id 각자 등록한걸로 수정 -->
  <a href="https://kauth.kakao.com/oauth/authorize?client_id=ee35f9bdbb7d489738218a16bc693718&redirect_uri=http://localhost:8080/oauth/kakao/
callback&response_type=code">
    <div class="content">
      카카오 로그인
    </div>
  </a>

    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=4yrLNCK6RQMeFj95vayh&state=YOUR_RANDOM_STATE&redirect_uri=http://localhost:8080/login/oauth2/code/naver">
      Authorize with Naver
    </a>
  </div>


</body>
</html>